.header{
   background-color: #C3740C;
}
.pagetitle{
    color: #FEBAC7;
}
.subheading{
    color: rgb(253, 177, 56)
}
.title{
    text-align: center;
}

.textbox{
    background-color: lightgray;
    padding: 1em; 
}

.background{
    background-image: url(record.png);
    background-repeat: repeat, repeat;
    background-size: 300px;
    background-color: white;
}

body{
    margin: 0;
}
